<%- include('partials/header') %>

<%- include('partials/nav') %>
    <title>Pagina Principal</title>
<body class="container">
<%- include('partials/somos') %>
<%- include('partials/carusel') %>
<%- include('partials/cardespecialista') %>
<%- include('partials/whatsapp') %>
<%- include('partials/footer') %>
<%- include('partials/script') %>
</body>
</html>