<!doctype html>
<html lang="en">
    <%- include('partials/head') %>
<body class="text-center">
    <main class="form-signin text-center shadow-lg p-3 mb-5">
        <form id="formLogin" action="/login" method="POST">
            <img class="mb-4" src="imagen/1156718-e-finance-payment-icon.svg" alt="" width="100" height="70">
            <div class="form-floating">
                <input type="email" class="form-control" id="email" name="email" placeholder="User">
                <label for="user">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
                <label for="pass">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-bd-info" type="submit"><i class="bi bi-universal-access-circle"></i> Login</button>
        </form>
        <br>
        <a href="/register" type="button" class="w-100 btn btn-lg btn-bd-primary"><i class="bi bi-person-plus-fill"></i> Registrarse</a>
    </main>

<%- include('partials/boost') %>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<% if(alert) { %>
  <script>
    Swal.fire({
      title: '<%= alertTitle %>',
      text:'<%= alertMessage %>',
      icon:'<%= alertIcon %>',
      showConfirmButton: '<%= showConfirmButton %>',
      timer:'<%= timer %>'
    }).then(()=>{
      window.location = '<%= ruta %>'
    })
  </script>
<% } %>
</body>
</html>
